.pxblock--popouttext {
	.popout-grid {
		background-color: transparent;

		> :nth-child(1) {
			padding: 120px 0 160px;
			position: relative;

			> * {
				position: relative;
				z-index: 2;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: -160px;
				bottom: 0;
				left: -50vw;
				background: $gray;
			}
		}

		> :nth-child(2) {
			position: relative;
			z-index: 2;
			margin-top: 60px;
			padding: 60px;
			background: #fff;
			box-shadow: 4px 2px 26px 4px #0000002b;
			margin-left: 0;
		}

		@include bp($m) {
			display: flex;
			align-items: flex-start;

			> * {
				flex: 1;
			}

			> :nth-child(2) {
				margin-top: 120px;
				margin-left: 80px;
			}
		}
	}
}
