$xl: 1200px;
$l: 1024px;
$m: 768px;
$s: 500px;

$speed: 200ms;
$easing: ease-in-out;

$white: #fff;
$black: #000;
$light-gray: #f1f2f2;
$light-blue: #F3F8FF;
$gray: #E7E4DC; 
$blue: #002D72;
$red: #FF2D2A;
 